
.border-top { 

    

}

.border { 

}


.border-primary {
TYLE type="text/css"> {text-align: center}
}

.egt {

}

.card-header {

}

.card-header {

}



.card {

}


.col-lg-2 {

}

  .boton_confirmar{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: #FFFFFF;
    background-color: #33A4FF;
    border-radius: 15px;
    border: 3px #0628C7;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

.inline-block {
   display: inline-block;
}
