
	div.pagination {
        padding: 3px;
        margin: 3px;
        text-align:center;
    }

    div.pagination a {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #AAAADD;

        text-decoration: none; /* no underline */
        color: #000099;
    }
    div.pagination a:hover, div.digg a:active {
        border: 1px solid #000099;

        color: #000;
    }
    div.pagination span.current {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #000099;

        font-weight: bold;
        background-color: #000099;
        color: #FFF;

    }
    div.pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #EEE;

        color: #DDD;
    }

    h3 {
        color:#9c024c ;
    }

    label {
        font-weight: bold;
    }

    p.titulos {
        text-transform: uppercase !important;
        font-weight: bold;
        color:#363636;
        line-height: 1.5em;
        font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    }

	p.respuesta {
		text-transform: uppercase !important;
      color:#363636;
	  font-size:14px;
    }

    p.texto {
        text-transform: uppercase !important;
        font-size:15px;
        color:#363636;
        line-height: 1.5em;
        font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
        text-align: justify;
    }

    p.tiempo {
        text-transform: uppercase !important;
        font-size:13px;
        color:#363636;
        font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    }
    ion-icon {
        padding-top:5px;
        font-size: 15px;
    }




	 a.validar:link {	color:#a1f790 !important;}
    a.validar:visited {color:#a1f790 !important;}
    a.validar:active {color:#a1f790 !important;}
    a.validar:hover {color:#a1f790 !important; text-decoration: none; }

    a.editar:link {	color:#000000 !important;}
    a.editar:visited {color:#767676 !important;}
    a.editar:active {color:#e1e1e1 !important;}
    a.editar:hover {color:#e1e1e1 !important; text-decoration: none; }

    .error, .success, .info, .notice, .despliega, .otro,.mostrar, .busqueda,.tecnico ,.sistemas {
        display: block;
        padding: 10px 20px 10px 44px;
        font-size:14px;
    }

    .error, .success, .info, .notice, .despliega, .otro,.mostrar, .busqueda,.tecnico,.sistemas {
        display: block;
        padding: 10px 20px 10px 44px;
    }

    .error {
        background: #f9e5e6 url(../images/icon-box-error.png) no-repeat 10px 9px;
        border: 1px solid #f7c7c9;
        border-left-width: 4px;
        color: #b3696c;
    }


    .busqueda {
        background: #f9e5e6;
        border: 1px solid #f7c7c9;
        border-left-width: 4px;
        color: #b3696c;
    }

    .success {
        background: #e3ebc6 url(../images/icon-box-success.png) no-repeat 12px 8px;
        border: 1px solid #c2d288;
        border-left-width: 4px;
        color: #8fa442;
    }

    .info {

        background: #c7e3e7 url(../images/icon-box-info.png) no-repeat 10px 8px;
        border: 1px solid #365f64;
        border-left-width: 4px;
        color:#7a8e91;

    }

    .notice {
        background: #fcf7d9 url(../images/icon-box-notice.png) no-repeat 10px 9px;
        border: 1px solid #f5dc7d;
        border-left-width: 4px;
        color: #c4a21b;
    }


    .despliega {
        background: #e9ecef url(../images/icon-box-reporte.png) no-repeat 10px 9px;
        border: 1px solid #969697;
        border-left-width: 4px;
        color: #969697;
    }


    .otro {
        background: #e5eef9 url(../images/icon-box-reporte.png) no-repeat 10px 9px;
        border: 1px solid #4e9ff9;
        border-left-width: 4px;
        color: #a1cafc;
    }

    .mostrar {
        background: #ababab url(../images/icon-box-lupa.png) no-repeat 10px 9px;
        border: 1px solid #757575;
        border-left-width: 4px;
        color: #2e2e2e;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


    .sistemas {
        background: #f6d2ae url(../images/system-info.png) no-repeat 10px 9px;
        border: 1px solid #f0c3a2;
        border-left-width: 4px;
        color: #e78944;
    }

    .tecnico {
        background: #ced2d6  url(../images/tecnico.png) no-repeat 10px 9px;
        border: 1px solid #9b9d9f;
        border-left-width: 4px;
        color: #9097a0;
    }
